include ../mixins/img
include ../mixins/link
include ../mixins/nav

block vars
  - var title = "Default"
  - var bodyClass = ""

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="mobile-web-app-capable", content="yes")

    // iOS home screen icons
    meta(name="apple-mobile-web-app-title", content="frontend boilerplate")
    link(rel="apple-touch-icon", sizes="120x120", href=require("@images/icon-120x120.png"))
    link(rel="apple-touch-icon", sizes="152x152", href=require("@images/icon-152x152.png"))
    link(rel="apple-touch-icon", sizes="167x167", href=require("@images/icon-167x167.png"))
    link(rel="apple-touch-icon", sizes="180x180", href=require("@images/icon-180x180.png"))

    // favicon
    link(rel="icon", type="image/png", sizes="16x16", href=require("@images/favicon-16x16.png"))
    link(rel="shortcut icon", type="image/png", sizes="16x16", href=require("@images/favicon-16x16.png"))

    title= title
  body(class=bodyClass)
    include ../components/header/index
    block content
    include ../components/footer/index
    noscript JavaScript has been disabled on your browser. Please enable JS to view full site.
